body {
    background-image: url("run.jpg");
    background-size: cover;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: #072336;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
#container {
    background: #F5F5F5;
    width: 60%;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 0;
    border-radius: 4px;
    border: 1px solid #835334;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #5E3023;
}

#save-btn {
    background: #BF845F;
}

